@import "variables";
.wrapper{
  padding: 1.1rem 0rem;
  div:first-of-type{
    display: flex;
    justify-content: space-around;
    // background-color: red;
    div:first-of-type{
      display: grid;
      grid-template-columns: 2rem 1fr;
      // background-color: green;
    }
  }

}
