@import "variables";
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .buttons{
    display: flex;
    min-width: 15%;
    justify-content: space-between;
  }
  .arrows {
    min-width: 3rem;
    display: flex;
    justify-content: space-between;
  }
}
